<div class="row align-items-end"> 

      <div class="row ">
        <div class="col col-auto me-auto">
        </div>
        <div class="col col-auto">
          <%= link_to "Add New Category", new_category_url, class: "btn btn-outline-primary" %>
        </div>
      </div>