<h1>Here is the nearest BechaKena shop for you</h1>
<p>
  Hey, 
  
  Just wanted to inform you that we have found a shop near you.
  Here is the location of our shop <%= @address %>
</p>
<p>Thanks for joining and have a great day!</p>