
<div class="row mt-3">
  <div class="col">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Email</th>
          <th scope="col">Roles</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |a| %>
        <tr>
          <td><%= a.email %></td>
       
          <td><%= a.roles %></td>
        
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>