
<div class="row mt-3">
  <div class="col">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Email</th>
          <th scope="col">Roles</th>
          <th scope="col">Action</th>

        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
       
          <td><%= user.roles %></td>
          <td>
            <%=link_to "Edit",  users_role_path(@user), class:" btn btn-info" %>
      
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>