<div id="<%= dom_id varient %>">
  <p>
    <strong>Color:</strong>
    <%= varient.color %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= varient.size %>
  </p>

  <p>
    <strong>Sku:</strong>
    <%= varient.sku %>
  </p>

</div>
