
<h3>Category Details</h3>
  <div class="card mt-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= @category.name%></h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">
        <%= if 
            @category.category_id 
            "Sub Category"
            else 
            "Main Category"
            end
        %>
      </h6>
      <p class="card-text"></p>
      <%= link_to "Add New", new_category_url %>
      <%= link_to "Edit", edit_category_url %>
      <% link_to "Delete", controller: "categories", action: "delete", id: @category %>
   
      <a href="#" class="card-link">Delete</a>
    </div>
  </div>
