<h3><%= @category.name %></h3>

<div class="row pt-3">
<div class="col-4">
</div>
  <div class="col-2">
    <p class="card-text">Name: <%= @category.name %></p>
  </div>

   <div class="col-2">
    <p class="card-text">Category: <%= @category.category&.name %></p>
  </div>
</div>
